
server:
  port: ${port}      # \u7ED1\u5B9A\u5E94\u7528\u670D\u52A1\u7AEF\u53E3

spring:
  application:
    name: mall-sso     # \u6307\u5B9A\u5E94\u7528\u540D,\u4E5F\u5C31\u662F\u6CE8\u518C\u4E2D\u5FC3\u663E\u793A\u7684\u540D\u79F0
  datasource:
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/wheel-making?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
        username: root
        password: 575534

mybatis:
  type-aliases-package: com.xc.mall.pojo
  mapper-locations: classpath:mapper/*.xml

logging:
  level:
    com.xc.mapper : debug

eureka:
  instance:
    ip-address: 127.0.0.1     # \u7ED1\u5B9Aip\u5730\u5740
#    prefer-ip-address: true    # \u5C06\u81EA\u5DF1\u7684ip\u5730\u5740\u6CE8\u518C\u5230Eureka\u4E2D\u5FC3
#    lease-expiration-duration-in-seconds: 10    # \u6301\u7EED\u66F4\u65B0\u65F6\u95F4\u95F4\u9694\uFF0C10s
#    lease-renewal-interval-in-seconds: 10       # \u5FC3\u8DF3\u65F6\u95F4\u95F4\u9694\uFF0C\u5C31\u662F\u91CD\u65B0\u5230\u6CE8\u518C\u4E2D\u5FC3\u6CE8\u518C\u7684\u65F6\u95F4\u95F4\u9694
  client:
    register-with-eureka: true     # \u662F\u5426\u5C06\u81EA\u8EAB\u6CE8\u518C\u5230Eureka\u4E2D
    fetch-registry: true            # \u662F\u5426\u9700\u8981\u4ECEEureka\u4E2D\u83B7\u53D6\u6CE8\u518C\u7684\u4FE1\u606F
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka/,http://127.0.0.1:10087/eureka/,http://127.0.0.1:10088/eureka/  # Eureka\u4EA4\u4E92\u5730\u5740\uFF0C\u6CE8\u518C\u4E2D\u5FC3\u7684\u5730\u5740
    eureka-connection-idle-timeout-seconds: 30  # \u4E0E\u6CE8\u518C\u4E2D\u5FC3\u8FDE\u63A5\u8D85\u65F6\u7684\u65F6\u957F
    eureka-server-read-timeout-seconds: 8       # \u5728\u6CE8\u518C\u4E2D\u5FC3\u8BFB\u8D85\u65F6\u65F6\u957F

